<div id="footer" class="shareFooter">
    <a class="fb btn btn-danger" href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank">
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>

    <br />
    <a class="tw btn btn-info" href="https://twitter.com/intent/tweet/?url=hey" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
</div>
