@{
    ViewBag.Title = "Home Page";
}

<form action="Resource/CheckFeedsForResources">
    <button>Pull down links from feeds</button>
</form>

<form action="Resource/AddTimeline">
    <label>title</label>
    <input name="title" />
    <label>image</label>
    <input name="image" />
    <label>slug</label>
    <input name="slug" />
    <button>Add timeline</button>
</form>
<div class="flexBox">
    @foreach (var timeline in Model)
    {

        <a href="~/Timeline/@timeline.TimelineSlug">
            <div class="blog-card spring-fever" style="background: url(@timeline.TimelineImage) center no-repeat;">
                <div class="title-content">
                    <h3>@timeline.TimelineTitle</h3>
                    <div class="intro"> <a href="#"></a> </div>
                </div>
                <div class="card-info">
                    A Timeline
                    @*<a href="~/Blog/TrumpRussia">Read Article<span class="licon icon-arr icon-black"></span></a>*@
                </div>
                @*<div class="utility-info">
                </div>*@
                <div class="gradient-overlay"></div>
                <a href="~/Timeline/@timeline.TimelineSlug"> <div class="color-overlay"></div></a>
</div><!-- /.blog-card -->
        </a>

        <br />
    }
</div>

<style>

</style>
