<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
@Styles.Render("~/Content/NewCSS/ColorfulDataPoints.css")
@Scripts.Render("~/Scripts/NewJS/ColorfulDataPoints.js")

<div class="block-chart" data-numbers='[["joe",4],["ian",15],["keith",11]]'>
</div>

<div class="block-chart long-one" data-numbers='[["lions",3003],["tigers",1021],["bears",4057],["dolphin",404],["python",4674]]'>
</div>

<div class="block-chart small" data-numbers='[["lions",3003],["tigers",1021],["bears",4057],["dolphin",404],["python",4674]]'>
</div>